<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}


    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Mohammad Arafat Hussain",
      "alternateName": "Arafat Hussain",
      "jobTitle": "Postdoctoral Research Fellow",
      "worksFor": {
        "@type": "Organization",
        "name": "Harvard Medical School"
      },
      "affiliation": {
        "@type": "Organization",
        "name": "Boston Children’s Hospital"
      },
      "alumniOf": [
        {
          "@type": "CollegeOrUniversity",
          "name": "University of British Columbia"
        },
        {
          "@type": "CollegeOrUniversity",
          "name": "Bangladesh University of Engineering & Technology"
        }
      ],
      "url": "https://marafathussain.github.io/",
      "image": "https://marafathussain.github.io/assets/img/arafat_new.png",
      "sameAs": [
        "https://scholar.google.com/citations?user=hFwvdQcAAAAJ&hl=en&user=hFwvdQcAAAAJ",
        "https://www.linkedin.com/in/hussainma",
        "https://orcid.org/0000-0003-0545-5779",
        "https://researchgate.net/profile/Mohammad-Arafat-Hussain",
        "https://www.semanticscholar.org/author/Mohammad-Arafat-Hussain/2067311",
        "https://dblp.org/pid/148/7569.html",
        "https://connects.catalyst.harvard.edu/Profiles/display/Person/201410",
        "https://labs.childrenshospital.org/arafat"
      ],
      "knowsAbout": ["Artificial Intelligence", "Medical Image Analysis", "Neuroimaging", "Computational Genomics"]
    }
    </script>
        
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
  </body>
</html>
